<!DOCTYPE html>
<html lang="en">
<head>
  <title>myWallapop</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
   <link rel="stylesheet" href="/css/wallapop.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav th:replace="offer/nav" />





	<div class="container">
		<h2>Detalles de la oferta</h2>
		<div class="panel panel-default">
			<div class="panel-heading">Titulo</div>
			<div class="panel-body" th:text="${offer.title}">
				vendo un iphone</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">Precio</div>
			<div class="panel-body" th:text="${offer.price}">100</div>
		</div>
		
		<div class="panel panel-default">
			<div class="panel-heading">Descripción</div>
			<div class="panel-body" th:text="${offer.description}">
				vendo un iphone</div>
		</div>
	</div>
	<div class="container">
		<h2>Detalles del Vendedor</h2>
		<div class="panel panel-default">
		<div class="panel-heading">nombre</div>
			<div class="panel-body" th:text="${offer.owner.name}">Juan</div>
			<div class="panel-heading">email</div>
			<div class="panel-body" th:text="${offer.owner.email}">aaaa@uniovi.es</div>
		</div>
		<button>
		<td><a th:href="${'/offer/list/buy/' + offer.id}">comprar</a></td></button>
		
</body>
</html>