<!DOCTYPE html>
<html lang="en">
<head>
<title>myWallapop</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/wallapop.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav th:replace="offer/nav" />


	<div class="container">
		<form class="navbar-form" action="/offer/search">
			<div class="form-group">
				<input name="searchText" type="text" class="form-control" size="50"
					 placeholder= "Buscar por titulo de oferta">
			</div>
			<button type="submit" class="btn btn-default" th:text="#{offersearch.message}"></button>
		</form>
		<h2 th:text="#{offers.message}">Ofertas</h2>
		<p th:text="#{offersavailable.message}">Las ofertas disponibles en wallapop:</p>
		<button type="button" id="updateButton" class="btn btn-default" th:text="#{update.message}"></button>
		<script>
			$("#updateButton").click(function() {
				$("#tableoffers").load('/offer/list/update');
			});
		</script>
		<div class="table-responsive">
			<table class="table table-hover" th:fragment="tableoffers"
				id="tableoffers">
				<thead>
					<tr>
						<th class="col-md-1">id</th>
						<th 
						th:text="#{title.message}"></th>
						<th 
						th:text="#{price.message}"></th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="offer : ${offerList}">
						<td th:text="${offer.id}">1</td>
						<td th:text="${offer.title}">Funda de movil</td>
						<td th:text="${offer.price}">10</td>
						<td><a th:href="${'/offer/details/' + offer.id}">detalles</a></td>
						<td><a th:href="${'/offer/details/' + offer.id}">comprar</a></td>						
						<td><a th:href="${'/offer/delete/' + offer.id}">eliminar</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>


</body>
</html>