<!DOCTYPE html>
<html lang="en">
<head>
<title>myWallapop</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/wallapop.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

	<!-- Barra de Navegación superior -->
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#myNavbar">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<img src="/img/heart.png" alt="logo" />
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li class="active"><a href="/offer/list">Ver Ofertas</a></li>
					<li><a href="/offer/add">Agregar Oferta</a></li>
					<li><a href="/offer/search">Buscar</a></li>

				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/signup"><span
							class="glyphicon glyphicon-user"></span> Registrate</a></li>
					
					<li sec:authorize="isAuthenticated()"><a href="/logout"> <span
							class="glyphicon glyphicon-log-out"></span> Desconectar
					</a></li>
				</ul>
			</div>
		</div>
	</nav>



	<div class="container">
		<form class="navbar-form" action="/offer/search/filter">
			<div class="form-group">
				<input name="searchText" type="text" class="form-control" size="50"
					placeholder="Buscar por descripción o nombre del alumno">
			</div>
			<button type="submit" class="btn btn-default">Buscar</button>
		</form>
		<h2>Ofertas</h2>
		<p>Las ofertas disponibles en wallapop:</p>
		<button type="button" id="updateButton" class="btn btn-default">Actualizar</button>
		<script>
			$("#updateButton").click(function() {
				$("#tableoffers").load('/offer/list/update');
			});
		</script>
		<div class="table-responsive">
			<table class="table table-hover" th:fragment="tableoffers"
				id="tableoffers">
				<thead>
					<tr>
						<th class="col-md-1">id</th>
						<th>Descripción</th>
						<th>Precio</th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="offer : ${offerList}">
						<td th:text="${offer.id}">1</td>
						<td th:text="${offer.description}">Funda de movil</td>
						<td th:text="${offer.precio}">10</td>
						<td><a th:href="${'/offer/details/' + offer.id}">detalles</a></td>
						<td><a th:href="${'/offer/edit/' + offer.id}">modificar</a></td>
						<td><a th:href="${'/offer/delete/' + offer.id}">eliminar</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>


</body>
</html>