<!DOCTYPE html>
<html lang="en">
<head>
<title>myWallapop</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/wallapop.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

	<!-- Barra de Navegación superior -->
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#myNavbar">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<img src="/img/heart.png" alt="logo" />
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li class="active"><a href="/offer/list">Ver Ofertas</a></li>
					<li><a href="/offer/add">Agregar Oferta</a></li>
					<li><a href="/offer/search">Buscar Oferta</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/signup"><span
							class="glyphicon glyphicon-user"></span> Registrate</a></li>
					<li sec:authorize="isAuthenticated()"><a href="/logout"> <span
							class="glyphicon glyphicon-log-out"></span> Desconectar
					</a></li>
				</ul>
			</div>
		</div>
	</nav>






	<div class="container">
		<h2>Detalles del usuario</h2>
		<div class="panel panel-default">
			<div class="panel-heading">Titulo</div>
			<div class="panel-body" th:text="${user.email}">test@uniovi.es</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">Precio</div>
			<div class="panel-body" th:text="${user.moneyAccount}">100</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">Nombre</div>
			<div class="panel-body" th:text="${user.name}">Juan</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">Apellidos</div>
			<div class="panel-body" th:text="${user.surname}">Juanez
				Juanson</div>
		</div>

	</div>

</body>
</html>